<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/nprogress/nprogress.css}">
    <link rel="stylesheet" th:href="@{/vendor/sweetalert/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/vendor/datetimepicker/datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

<div id="main">
    <div class="total-product">
        <div class="container-fluid add-product">
            <div id="data"></div>
            <section>
                <h1>Admin - products page</h1>
                <div class="label-success" style="padding: 5px 15px; color: #fff;">
                    <span th:text="${vm.getMessageTotalProducts()}"></span>
                </div>
                <p style="margin-top: 10px;">
                    <button class="btn btn-primary" id="btn-new-product">Insert new product</button>
                </p>
            </section>
        </div>
    </div>
    <div class="total-product">
        <div class="container-fluid total-product__container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Short Descryption</th>
                        <th>Created Date</th>
                        <th>Custom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product: ${vm.getListPagingProducts()}">
                        <td>
                            <p th:text="${product.getId()}"></p>
                        </td>
                        <td>
                            <a th:href="@{'/product/detail/' + ${product.getId()}}">
                                <img style="max-width: 100px" th:src="${product.getImage()}">
                            </a>
                            <p th:text="${product.getName()}"></p>
                        </td>
                        <td>
                            <p th:object="${product.getCategory()}"></p>
                        </td>
                        <td>
                            <p th:text="${product.getPrice()}"></p>
                        </td>
                        <td>
                            <p th:text="${product.getShortDesc()}"></p>
                        </td>
                        <td>
                            <p th:text="${product.getCreatedDate()}"></p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-edit"
                                    th:attr="data-product=${product.getId()}">Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-delete"
                                    th:attr="data-product=${product.getId()}">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ul class="pagination" th:if="${0 < vm.getTotalPagingItems()}">
                <th:block th:each="indexPage : ${#numbers.sequence(1, vm.getTotalPagingItems(), 1)}">
                    <li class="active" th:if="${indexPage == vm.getCurrentPage()}">
                        <a th:href="@{'/admin?pageNumber=' + ${indexPage}}"><span th:text="${indexPage}"></span></a>
                    </li>
                    <li th:unless="${indexPage == vm.getCurrentPage()}">
                        <a th:href="@{'/admin?pageNumber=' + ${indexPage}}"><span th:text="${indexPage}"></span></a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
    <div id="modal-create-product" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new product</h4>
                </div>
                <div class="modal-body">

                    <div class="img-select-block margin-bottom-15">
                        <label>Product image</label><br/>
                        <img id="preview-product-img" th:src="@{/img/default-img.jpg}"/>
                        <input type='file' id="input-select-img-product"/>
                    </div>


                    <div class="form-group margin-bottom-15">
                        <label>Product name:</label>
                        <input type="text" class="form-control" id="input-product-name">
                    </div>

                    <div class="form-group margin-bottom-15">
                        <label for="input-product-category">Category:</label>
                        <select class="form-control" id="input-product-category">
                            <option th:each="category : ${vm.getListCategories()}"
                                    th:value="${category.getId()}" th:text="${category.getName()}"></option>
                        </select>
                    </div>

                    <div class="form-group margin-bottom-15">
                        <label>Product price:</label>
                        <input type="text" class="form-control" id="input-product-price">
                    </div>

                    <div class="form-group margin-bottom-15">
                        <label>Product description:</label>
                        <textarea type="text" class="form-control" id="input-product-desc"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Product created date:</label>
                        <div class='input-group date' id='datepicker-created-date-product'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                    <button class="btn btn-default btn-save-product">Save product</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/axios/axios.js}"></script>
<script th:src="@{/vendor/sweetalert/sweetalert.js}"></script>
<script th:src="@{/vendor/moment/moment.min.js}"></script>
<script th:src="@{/vendor/moment/vi.js}"></script>
<script th:src="@{/vendor/datetimepicker/datetimepicker.min.js}"></script>
<script th:src="@{/vendor/nprogress/nprogress.js}"></script>
<script th:src="@{/js/sideNav.js}"></script>
<script th:src="@{/js/animate.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>